{% extends 'mubApp/admin/base.html' %}
{% load static %}

{% block content %}

<div class="form-group container  col-lg-4 col-sm-12 mt-5 border p-5 rounded">
    <h2>Add Events</h2>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
        {{ form.media }}
      {{ event_form.as_p }}
      {{ event_photos_form.as_p }}
      <input type="submit" class="btn btn-dark btn-lg mt-1" name="" value="Submit">
    </form>

<a href="{% url 'events' %}">To see events Click Here</a>
  </div>


{% endblock %}