{% extends "mubApp/base.html" %}
{% load static %}
{% block content %}



<div style="background-image: url({% static 'images/job.jpg' %}); background-size:100%;" class="p-5">

  <div class="row">

    <div class="form-group container col-lg-4 col-sm-12 p-5 rounded" style="background:#ffcb0c;">

      {% if submitted %}
      <h2 class="mb-3">Thanks for submitting your information. Job Opportunity is coming your way!!</h2>
      {% else %}
      <h2 class="display-6">Candidate Profile Form</h2>
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        {{ job_form.as_p }}


        <input type="submit" class="btn btn-dark btn-lg mt-1" name="" value="Submit">



      </form>

      {% endif %}
      <a href="{% url 'mubApp:adminJobs' %}">Show Jobs List</a>

    </div>
    <div class="col-lg-6 col-sm-12 pt-5">
      <div class="card text-dark border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Read me</div>
        <div class="card-body">
          <h5 class="card-title">How this works?</h5>
          <p class="card-text">Fill up the form appropriately. Your profile can now be seen by recruiters and business
            owners. If your profile is suitable for the role you will be shortlisted for an interview. 
          </p>
          <h5 class="card-title">View Candidate Profiles</h5>
          <a class="btn btn-warning" href="{% url 'mubApp:adminJobs' %}">View</a>
        </div>
      </div>
    </div>

  </div>




</div>

{% endblock %}